.pregunta1{
    background-color: palevioletred;
}
.pregunta2{
    background-color: rgb(244, 204, 217);
}
.pregunta3{
    color:white;
}
.pregunta4{
    font-size: 20px;
}
.pregunta6{
    background-color: rgb(223, 193, 251);
}
.pregunta7{
    color: blueviolet;
    font-weight: bold;
}
.pregunta8{
   color: brown;
}